<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let job of jobs">
                <div class="image-flip" *ngIf="job.state">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{job.name}}</h4>
                                    <p class="card-text">Fecha de apertura: {{job.dateInit}}</p>
                                    <p class="card-text">Fecha de vencimiento: {{job.dateFinish}}</p>
                                    <p class="card-text">Empresa: {{job.company}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{job.name}}</h4>
                                    <div style="text-align:center"><button type="button"
                                            [routerLink]="['/description-job', job.idJob]" class="btn btn-primary">Ver
                                            más</button></div>
                                    <p></p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary" (click)=openModal(job)>Llenar
                                            formulario para aplicar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->