<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Buscar oferta laboral</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="filterJob" [(ngModel)]="filterJob">
        </div>

        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let job of jobs | filterOfertas:filterJob">
                <div class="image-flip" *ngIf="job.state">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title"><b>{{job.name}}</b></h4>
                                    <p class="card-text"><b>Fecha de publicación:</b> {{job.dateInit |
                                        date:'dd/MM/yyyy'}}</p>
                                    <p class="card-text"><b>Fecha de vencimiento:</b> {{job.dateFinish |
                                        date:'dd/MM/yyyy'}}
                                    </p>
                                    <p class="card-text"><b>Empresa:</b> {{job.company}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title"><b>{{job.name}}</b></h4>
                                    <div style="text-align:center"><button type="button"
                                            [routerLink]="['/description-job', job.idJob]" class="btn btn-primary">Ver
                                            más</button></div>
                                    <p></p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary" (click)=openModal(job)>Llenar
                                            formulario para aplicar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->