<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-5 pt-4">
    <!-- Footer Elements -->
    <div class="container">
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-1 col-md-6 mb-2">

                <!--Image-->
                <div class="view overlay z-depth-1-half" id="images">
                    <img src="assets/amigospenol.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-1 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" id="images">
                    <img src="assets/todossomos.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-1 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" id="images">
                    <img src="assets/maser.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-1 col-md-12 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" id="images">
                    <img src="assets/creafam1.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-1 col-md-12 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" id="images">
                    <img src="assets/creafam2.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-1 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" id="images">
                    <img src="assets/todopormigente.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-1 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" id="images">
                    <img src="assets/penol.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a>BEA</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->