<footer class="footer">

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-5 pt-4">
        <!-- Footer Elements -->
        <div class="container">
            <!--Grid row-->
            <div class="row">

                <div class="col-lg-5 col-md-12 mb-4">

                    <h1>Sede principal</h1>
                    <p></p>
                    <p>Tv. 6 #1869, El Peñol, Antioquia</p>
                    <p>Lunes a jueves de 7:30 a.m. a 12:00 a.m. - 1:30 p.m. a 6:00 p.m.</p>
                    <p>Viernes de 7:30 a.m. a 12:00 a.m. - 1:30 p.m. a 5:00 p.m.</p>

                </div>

                <!--Grid column-->
                <div class="col-lg-1 col-md-6 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half" id="images">
                        <a href="https://www.prevenservicios.com/"><img src="assets/prevenservicios.png"
                                class="img-fluid" alt=""></a>
                        <a>
                            <div class="mask rgba-white-light" mdbWavesEffect></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-1 col-md-12 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half" id="images">
                        <a href="https://www.creafam.coop/">
                            <img src="assets/creafam1.png" class="img-fluid" alt="">
                        </a>
                        <a>
                            <div class="mask rgba-white-light" mdbWavesEffect></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-1 col-md-12 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half" id="images">
                        <a href="https://www.creafam.coop/">
                            <img src="assets/creafam2.png" class="img-fluid" alt="">
                        </a>
                        <a>
                            <div class="mask rgba-white-light" mdbWavesEffect></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-1 col-md-6 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half" id="images">
                        <a href="https://www.elpenol-antioquia.gov.co/Paginas/default.aspx">
                            <img src="assets/todopormigente.png" class="img-fluid" alt="">
                        </a>
                        <a>
                            <div class="mask rgba-white-light" mdbWavesEffect></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-1 col-md-6 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half" id="images">
                        <a href="https://www.elpenol-antioquia.gov.co/Paginas/default.aspx">
                            <img src="assets/penol.png" class="img-fluid" alt="">
                        </a>
                        <a>
                            <div class="mask rgba-white-light" mdbWavesEffect></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!-- Footer Elements -->


        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a>BEA</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</footer>