<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Términos y condiciones</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>

<div class="modal-body">
    <p>Para usar nuestro página web y / o recibir nuestros servicios, debes tener al menos 18 años de edad, o la
        mayoría de edad legal en tu jurisdicción, y poseer la autoridad legal, el derecho y la libertad para participar
        en estos Términos como un acuerdo vinculante. No tienes permitido utilizar esta página web para subir
        información falsa
        o información que no sea propietaria tuya. Además nos autorizas almacenar en base de datos los datos que te
        solicitamos
        para poder enviarle la información al empleador y poder contactarte.</p>

</div>