.btn-primary:hover,
.btn-primary:focus {
  background-color: #0e1d42;
  border-color: #0e1d42;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #0e1d42;
  border-color: #0e1d42;
}

.infoprofession {
  color: grey;
}
