<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ job.name }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>

<div class="modal-body">
    <form (ngSubmit)="send()">
        <!-- Progress Bar -->
        <div class="progress form-group" *ngIf="progress > 0">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
            </div>
        </div>
        <div class="form-group">

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres"
                    aria-describedby="basic-addon1" [(ngModel)]="user.names" name="names">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos"
                    aria-describedby="basic-addon1" [(ngModel)]="user.lastnames" name="lastnames">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Cédula" aria-label="Cédula"
                    aria-describedby="basic-addon1" [(ngModel)]="user.identificationCard" name="identificationCard">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Dirección" aria-label="Dirección"
                    aria-describedby="basic-addon1" [(ngModel)]="user.address" name="address">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Celular" aria-label="Celular"
                    aria-describedby="basic-addon1" [(ngModel)]="user.phone" name="phone">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico"
                    aria-describedby="basic-addon1" [(ngModel)]="user.email" name="email">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nivel de estudio</span>
                </div>
                <select class="form-select" placeholder="Seleccione el nivel académico"
                    aria-label="Default select example" aria-describedby="basic-addon1"
                    [(ngModel)]="user.academicProfile" name="academicProfile">
                    <option *ngFor="let academicProfile of academic_profile_array" value="{{academicProfile}}">
                        {{academicProfile}}</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Profesión, ocupación u oficio</span>
                </div>
                <select class="form-select" placeholder="Seleccione la profesión" aria-label="Default select example"
                    aria-describedby="basic-addon1" [(ngModel)]="user.profession" name=" profession">
                    <option *ngFor="let profession of professions_array">{{profession}}</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Otra ocupación" aria-label=""
                    aria-describedby="basic-addon1" [(ngModel)]="newProfession" name="newProfession">
                <p class="infoprofession">Llene este campo en caso de que su elección en la profesión sea Otro.</p>
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" (change)="selectFile($event)" name="file">
            </div>
            <p class="infoprofession">Adjunte su hoja de vida haciendo click en el botón Seleccionar Archivo.
            </p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)=modalRef.close()>
                    Cerrar
                </button>
                <button role="button" class="btn btn-primary">Enviar información</button>
            </div>

        </div>

    </form>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="checkCheckBoxvalue()">
        <button class="astext" (click)=openModalTerminos()>Aceptar Términos y condiciones</button>
        <p></p>
        <button role="button" class="btn btn-secundary" (click)=openModalTerminos()>Ver términos y
            condiciones</button>
    </div>

</div>