<div>
    <img src="assets/quienessomos.png" class="d-block w-100" alt="...">
</div>

<h1>Nuestra ideología</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Misión</h5>
                <p class="card-text">Mitigar la problemática de desempleo que enfrenta la localidad de El Peñol,
                    generando fácil acceso a la oferta y demanda laboral.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Visión</h5>
                <p class="card-text">Mostrar el potencial de los Peñolences y la Región de Embalses, a las diferentes
                    industrias de mercado.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Valores</h5>
                <ul class="card-text">
                    <li>Liderazgo</li>
                    <li>Compromiso</li>
                    <li>Honestidad</li>
                    <li>Calidad</li>
                    <li>Cercanía</li>
                </ul>
            </div>
        </div>
    </div>
</div>