<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h1 class="text-center pb-3" style="color:black;"><b>Nuestros Servicios</b></h1>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-text"><b>Ofertas laborales</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p>Da un vistazo a las ofertas laborales que tenemos disponibles para que envíe su
                                        hoja de vida.</p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary" routerLink="/ofertas">Click
                                            aquí</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-text"><b>Hoja de vida</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p>Si no encuentra una oferta laboral que se acomode a su perfil, también nos puede
                                        enviar su hoja de vida.</p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary" routerLink="/hojadevida">Click
                                            aquí</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-text"><b>Capacitaciones</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p>Encuentra acá las capacitaciones que ofrecemos con toda la información que
                                        necesita saber.</p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary" routerLink="/capacitaciones">Click
                                            aquí</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-text"><b>Información institucional</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p>Conoce quiénes somos nosotros, nuestro misión, visión y valores.</p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary" routerLink="/informacion">Click
                                            aquí</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-text"><b>Contáctenos</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p>En este enlace, también puede ver toda la información para comunicarse con
                                        nosotros.</p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary" routerLink="/contactenos">Click
                                            aquí</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->